
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: darkblue;
}
#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.titulo {
    color: white;
    font-size: 32px;
    font-family: 'Fredoka One', cursive;
}

.subtitulo{
    color: white;
    font-size: 20px;

}

.tarjetas, .tarjetas-ataques{
    display: flex;
    gap: 10px

}

.tarjeta-de-mokepon{
    width: 180px;
    height: 100px;
    background: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

#boton-mascota {
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    background: transparent;
    border: 1px solid white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    }

input {
    display: none;
}

input:checked + label {
    background-color: skyblue;
  }
  
#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.boton-de-ataque {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: skyblue;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;    
    color: darkblue;
    flex-direction: column;
}

#mensajes   {
    width: 280px;
    background-color: skyblue;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    color: darkblue;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    border: transparent;
}

.ataques {
    display: grid;
    grid-template-columns: 150px 150px;
    color: white;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
    color: white;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 560px){
    .tarjetas {
        flex-direction: column;
    }

    .tarjetas-ataques {
        flex-direction: column;
    }

}

#ver-mapa {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#ver-mapa button {
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    background: transparent;
    border: 1px solid white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;

}

@media (max-width: 300px) {
    #ver-mapa div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}